:root {
    --primary-color: #3C495D;
    --secondary-color: #E2E8F0;
    --tertiary-color: #EBEFF2;
    --quaternary-color: #aeb3b9;
    --white-color: #FFFFFF;
    --black-color: black;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
    color: var(--primary-color);
}

#sidebar {
    width: 250px;
    background: var(--white-color);
    height: 100%;
    border-right: 1px solid var(--secondary-color);
}

#sidebar hr {
    margin: 20px;
    border: 0;
    border-top: 1px solid var(--secondary-color);
}

#sidebar ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

#sidebar ul li:hover {
    background-color: var(--secondary-color);
}

#sidebar ul .selected {
    background-color: var(--secondary-color);
}

#sidebar ul li a {
    text-decoration: none;
    color: var(--black-color);
    margin-left: 5px;
}

#sidebar ul li i {
    margin-left: 20px;
    color: var(--black-color);
}

#content {
    flex-grow: 1;
    background: var(--tertiary-color);
}

#menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--tertiary-color);
    border-bottom: 1px solid var(--quaternary-color);
}

#user-profile {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

#profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

#user-name {
    color: var(--black-color);
    font-weight: bold;
    font-size: smaller;
}

#company-profile {
    margin-top: 20px;
}

#company-logo {
    margin-left: 20px;
    height: 80px;
    margin-bottom: 0px;
}

.company-block-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.company-block {
    width: 60%;
}

.company-block .container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.company-block .title-bar {
    background-color: var(--tertiary-color);
    padding: 10px;
}

.company-block .main-section {
    background-color: var(--white-color);
    padding: 20px;
}

.company-block .button-container {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    background-color: var(--white-color);
}

.company-block .button {
    width: 80%;
    background-color: var(--tertiary-color);
    border: 1px solid var(--quaternary-color);
    padding: 10px;
    text-align: center;
    font-size:larger;
    font-weight: bolder;
    cursor: pointer;
    margin: 0 auto; 
    margin-bottom: 20px;
    border-radius: 5px;
}

.company-block .button:hover {
    background-color: var(--quaternary-color);
}