
    <h1>Admin Settings</h1>
    <div class="setting">
        <label>Enable Feature A</label>
        <label class="switch">
            <input type="checkbox">
                <span class="slider round"></span>
        </label>
    </div>
    <div class="setting">
        <label>Enable Feature B</label>
        <label class="switch">
            <input type="checkbox">
                <span class="slider round"></span>
        </label>
    </div>
    <div class="setting">
        <label>Enable Feature C</label>
        <label class="switch">
            <input type="checkbox">
                <span class="slider round"></span>
        </label>
    </div>
