<div class="company-block-parent">
    <div class="company-block">
        <div class="container">

            <div class="title-bar">
                <h3>Select company to work on</h3>
            </div>

            <div class="main-section">
                <div class="button-container">
                    {{#each companies as |grant|}}
                    <form action="/company" method="post">
                        <input type="hidden" name="grantId" value="{{grant.id}}">
                        <input class="button" type="submit" value="{{grant.name}}">
                    </form>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>